.game-board {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 600px;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 40px;
}

#playGame {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
  padding: 15px 32px;
  color: white;
  background-color: blue;
}

#clickToPlay {
  margin: -50px auto 0;
}

#reset {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
  padding: 15px 32px;
  color: black;
  font-weight: bold;
  font-size: medium;
  background-color: white;
}

#resetDiv {
  float: left;
  margin-top: -100px;
  margin-left: 36%;
}

#complete {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
  padding: 15px 32px;
  color: black;
  font-weight: bold;
  font-size: medium;
  background-color: green;
}

#completeDiv {
  float: right;
  margin-top: -100px;
  margin-right: 36%;
}

#quit {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-radius: 12px;
  padding: 15px 32px;
  color: black;
  font-weight: bold;
  font-size: medium;
  background-color: red;
}

#quitGame {
  margin-left: 46%;
  margin-top: 3%;
}

#clickToPlay {
  text-align: center;
  padding: 40px;
}

.hidden {
  visibility: hidden;
}

.game {
  border: 3px solid black;
}


td {
  border: 1px solid gray;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 20px;
  width: 10px;
  font-size: 1.5em;
  font-weight: bolder;
  color: black;
}

td:nth-child(9) {
  border-right: 3px solid black;
}

td:nth-child(1) {
  border-left: 3px solid black;
}

td:nth-child(3) {
  border-right: 3px solid black;
}

td:nth-child(6) {
  border-right: 3px solid black;
}

tr:first-child {
  border-top: 3px solid black;
}

tr:first-child {
  border-top: 3px solid black;
}

tr:nth-child(4) {
  border-top: 3px solid black;
}

tr:nth-child(7) {
  border-top: 3px solid black;
}

tr:nth-child(9) {
  border-bottom: 3px solid black;
}


td:hover{
  border: 3px solid lightblue;
}

input {
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
  width: 1.5em;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  color: blue;
}